#leva__root > * {
  width: 400px !important;
}

@media (max-width: 768px) {
  #leva__root > * {
    width: 350px !important;
  }
}

@media (max-width: 480px) {
  #leva__root > * {
    width: 70vw !important;
  }
}
